@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
body { 
	font-family: 'Roboto Condensed', sans-serif;
 }

 p {
 	text-align: align;
 }


h3 {
	color: orange;
 }

body {
	line-height: 1.3;
	background:  skyblue;
}

img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

#ensemble {
	width: 600px;
	height: 150;
	margin: 30px auto;
	padding: 20px 20px;
	border-radius: 20px;
	background-color: skyblue;
	background: white;
	text-align: center;
}

.first {
	width: 600px;
	height: 150;
	margin: 30px auto;
	padding: 20px 20px;
	border-radius: 20px;
	background-color: skyblue;
	background: skyblue;
	text-align: center;
}

ul {
	text-align: left;
}

.réseaux {
	background-color: orange;
	text-decoration: none;
	border-radius: 10%;
}

#container {
	height: 500px;
	border: 2px solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border-radius: 20px;
	margin: 20px;
}

#oce {
	margin: 15px;
}

#tel {
	margin: 15px;
}

#contact {
	margin: 15px;
}

